<div class="navbar bg-dark mb-5 shadow-lg">
    <div class="navbar-brand">
        <a href="/">
            <img src="/img/dog.webp"  href="/" class="w-26" alt="#" style="width:60px"> 
        </a>
    </div>
</div>