<%-  include('partials/header.ejs') %>
<body>
    <%-  include('partials/navbar.ejs') %>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Realizar perguntas</h3>
            </div>
            <div class="card-boyd p-3">
                <form method="POST" action="/salvarperguntas">
                    <label for="titutlo">Título</label>
                    <input type="text" id="titutlo" placeholder="Título" class="form-control" value=" <%= perguntas. %> "  name="titulo">
                    <br>
                    <label for="">Descrição</label>
                    <textarea placeholder="Descreva aqui sua pergunta" class="form-control" name="descricao"></textarea>
                    <br>
                    <button class="btn btn-success">Perguntar</button>
                </form>
            </div>
        </div>        
    </div>
</body>
<%-  include('partials/footer.ejs') %>